<div class="p-add">
	<div class="p-add__inner">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- スマホ用横 -->
		<ins class="adsbygoogle"
		style="display:inline-block;width:320px;height:100px"
		data-ad-client="ca-pub-1016214782584645"
		data-ad-slot="8834727514"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>

<div class="p-footer">
	<ul>
		<li>
			<a href="https://twitter.com/home_talks" target="_blank">公式Twitter</a>
		</li>
		<!-- <li> -->
			<%#= link_to "利用規約", terms_path %>
			<!-- </li> -->
			<!-- <li> -->
				<%#= link_to "プライバシーポリシー", privacy_path %>
				<!-- </li> -->
			</ul>
			<p class="p-footer__copy">
				Copyright (C) 2018 <%= link_to "ホメトーク", root_path %>
			</p>
		</div>