<div class="p-footer">
	<ul>
		<li>
			<a href="https://twitter.com/home_talks" target="_blank">公式Twitter</a>
		</li>
		<!-- <li> -->
			<%#= link_to "利用規約", terms_path %>
		<!-- </li> -->
		<!-- <li> -->
			<%#= link_to "プライバシーポリシー", privacy_path %>
		<!-- </li> -->
	</ul>
	<p class="p-footer__copy">
	Copyright (C) 2018 <%= link_to "ホメトーク", root_path %>
	</p>
</div>