<!DOCTYPE html>
<html>
<head>
   <%= display_meta_tags(default_meta_tags) %>
</head>
<body>
  <div id="container">
    <div id="header">
      <p><%= link_to "Morning Glory TOP", :root %></p>
    </div>
    <%= yield %>
    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</body>
</html>
