<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% provide(:title, @user.name) %>
<h1>My page (<%= @user.name %>)</h1>

<ul>
	<li><%= link_to "記事一覧", [@user, :entries] %></li>
</ul>