<% set_meta_tags title: '新規投稿',description: '新規投稿ページになります。ホメトークは、人から褒められてテンションを上がることができるサービスです。' %>

<%= form_for @entry do |form| %>
<%= render "form", form: form %>
<div class="c-button"><%= form.submit %></div>
<% end %>
